<div class="d-flex flex-row align-items-center navigation">
  <ul class="nav nav-pills d-flex flex-row align-items-center mr-auto p-2">
    <a routerLink="/home" class="logo">
      <img src="../../favicon.png" alt="">
    </a>
    <li role="presentation" class="{{(url==='/home')?active:notActive}}">
      <a routerLink="/home">Homepage</a>
    </li>
    <li role="presentation" class="{{(url==='/archive')?active:notActive}}">
      <a routerLink="/archive">Video Archive</a>
    </li>
    <li role="presentation" class="{{(url==='/user-management')?active:notActive}}">
      <a routerLink="/user-management">User Management</a>
    </li>
  </ul>
  <span class="user-buttons p-2">
    <span class="{{(url==='/profile')?active:notActive}}">
      <a routerLink="/profile">{{username}}</a>
    </span>
    <span class="{{(url==='/login')?active:notActive}}">
      <a routerLink="/login" (click)="logOut()">{{isUserLoggedIn ? "Log Out" : "Login"}}</a>
    </span>
  </span>
</div>