<app-header></app-header>
<div class="list-group">
    <div *ngFor="let day of videoList" >
        <a class="list-group-item" href="" (click)="showHide($event, day.day)">
            {{day.day}}
        </a>
        <table *ngIf="day.videos&&day.videos.length&&day.show" class="table table-striped table-bordered">
            <thead class="">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                    <th scope="col">Size</th>
                    <th *ngIf="user.role==='admin'" scope="col" style="text-align: center">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let video of day.videos">
                    <td>
                        <a routerLink="/video/{{video.id}}">{{video.name}}</a>
                    </td>
                    <td>
                        {{video.time}}
                    </td>
                    <td>
                        {{video.size}}
                    </td>
                    <td *ngIf="user.role==='admin'" style="text-align: center">
                        <button type="button" class="btn btn-primary remove-btn" (click)=onRemoveBntClick(video.name) data-toggle="modal" data-target="#confirmDelete">
                            <fa name="times"></fa>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>

<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" style="font-size: 20px; text-align: center;">
                Delete video
                <span id="username" style="color: #66058e">{{deleteVideo}}</span>?
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger btn-ok" data-dismiss="modal" (click)="removeVideo()">Yes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="width: 70px;">No</button>
            </div>
        </div>
    </div>
</div>