<app-header></app-header>
<h1>
  Live Broadcast:
</h1>
<img id="browser_video" class="video-image" alt="video" src="http://192.168.1.133:8080/video">
<audio id="html5_audio" autoplay>
  <source src="http://@192.168.1.133:8080/audio.wav" type="audio/wav">
</audio>
<div class="volume-buttons">
  <button id="muteButton" class="btn btn-primary mute-btn">
    <fa id="offBtn" class="hide" name="volume-off"></fa>
    <fa id="onBtn" name="volume-up"></fa>
  </button>
  <input class="volume-range" type="range" name="" id="volumeSlider" min="0" max="1" step="any" value="1">
</div>
<div *ngIf="user.role==='admin'" class="record-btn">
  <button *ngIf="!recording" class="btn btn-primary record-btn" type="button" (click)="onRecordClick()">Record</button>
  <button *ngIf="recording" class="btn btn-primary record-btn" type="button" (click)="onStopRecordClick()">Stop Record</button>
</div>
<!-- <img id="browser_video" class="video-image" alt="video" src="http://anastasiakupr.hldns.ru:8080/video"> -->