<div class="login-wrapper">

  <div class="title">
    <span class="logo">
      <img class="company-logo" src="../../favicon.png" alt="">
    </span>
    <h3 class="title">
      Please Login</h3>
  </div>

  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input autofocus [(ngModel)]="email" #ctrl="ngModel" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="email"
        placeholder="you@example.com"  (keyup.enter)="login($event)">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="password" #ctrl="ngModel" [ngModelOptions]="{standalone: true}" type="password" class="form-control"
        id="password" placeholder="Password" (keyup.enter)="login($event)" >
      <div *ngIf="codeIsSent">
        <br>
        <label for="code">Enter code from email</label>
        <input [(ngModel)]="code" #ctrl="ngModel" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="code"
          placeholder="code"  (keyup.enter)="login($event)" >
      </div>
    </div>

  </form>

  <a *ngIf="!codeIsSent" class="enter-code" (click)="codeIsSent = true;">I've got an auth code</a>
  <div class="hr"></div>
  <button type="submit" class="btn btn-primary" (click)="login($event)">
    Continue
  </button>
</div>