<h1>
  Прямая трансляция:
</h1>
<img id="browser_video" class="video-image" alt="video" src="http://192.168.88.40:8080/video">
<audio id="html5_audio" autoplay>
  <source src="http://192.168.88.40:8080/audio.wav" type="audio/wav">
</audio>
<div class="volume-buttons">
    <button id="muteButton"></button>
    <input type="range" name="" id="volumeSlider" min="0" max="1" step="any" value="1">
</div>
  <!-- <img id="browser_video" class="video-image" alt="video" src="http://anastasiakupr.hldns.ru:8080/video"> -->